<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>IdeasOnCanvas</string>
	<key>id</key>
	<string>A043DFC9-26A6-4B70-9786-B6BD65585BB8</string>
	<key>title</key>
	<string>Delight</string>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
